<h1>Password Recovery</h1><br />
<section>
  <form action="/api/session/forgot-password" method="post">
    Email:
    <input type="text" name="email">
    <input type="submit" value="Reset Password">
    <br>
    <br>
  </form>
</section>
<div>
  <a href="/api/session/login">Login</a>
  |
  <a href="/api/session/register">Register now</a>
</div>