<h1>Iniciar Session</h1>

<form action="/api/session/login" method="post">
  Email:
  <input type="text" name="email" /><br />
  Password:
  <input type="password" name="password" /><br />

  <br />

  <input type="submit" value="Iniciar Sesion" />
</form>
<div>
  <a href="/api/session/github">Login with GitHub</a>
</div>
<hr />
<br />

¿No estas registrado?
<a href="/api/session/register">Registrate aqui</a>