<h1>Create new password</h1>
<hr />
<section>
  <form action="/api/session/reset-password/{{user}}" method="post">
    <input type="hidden" name="token" value="{{userToken}}" />
    New password:
    <input type="password" name="password" />
    <input type="submit" value="Change Password" />
  </form>
</section>
<div>
  <a href="/api/session/login">Login</a>
  |
  <a href="/api/session/register">Register now</a>
</div>