<form action="/api/session/reset-password/{{user}}" method="post">
  <input type="hidden" name="token" value="{{userToken}}" />
  New password:
  <input type="password" name="password" />
  <input type="submit" value="Change Password" />
</form>