<h1>Email successfully sent</h1>
<div>
  <h2>Password change token was successfully sent to
    {{email}}</h2>
  <hr />
  <h2>The token expires in 1 hour.</h2>
</div>
<div>
  <a href="/api/session/login">Login</a>
  |
  <a href="/api/session/register">Register now</a>
</div>