<h1>Token Error</h1>
<div>
  <h2>Token expired or invalid</h2>
</div>
<div>
  <a href="/api/session/login">Login</a>
  |
  <a href="/api/session/register">Register now</a>
  <img
    src="https://static.vecteezy.com/system/resources/previews/006/549/647/original/404-landing-page-free-vector.jpg"
    alt="404"
    width="100%"
  />
</div>