<h1>Purchase receipt</h1>

<div>
  <h2>Code: {{ticket.code}}</h2>
  <h3>Purchaser: {{ticket.purchaser}}</h3>
  <h2>Total amount: $ {{ticket.amount}} </h2>
  <p>Date: {{ticket.purchase_datetime}} </p>
  <hr />
</div>
<div>
  <h3>Thank you for your purchase!</h3>
  <a href="/api/products">Home</a>
</div>