<h1>Ticket de compra</h1>

<div>
  <h2>Código: {{ticket.code}}</h2>
  <h3>Comprador: {{ticket.purchaser}}</h3>
  <h2>Monto total: $ {{ticket.amount}} </h2>
  <p>Fecha: {{ticket.purchase_datetime}} </p>
  <hr />
</div>
<div>
  <h3>Gracias por tu compra!</h3>
  <a href="/api/products">Volver a inicio</a>
</div>