<div>
    <a href="/api/products">Home</a>
    <h2>The site you want to access does not exist.</h2>
    <img src="https://static.vecteezy.com/system/resources/previews/006/549/647/original/404-landing-page-free-vector.jpg" alt="404" width="100%">
</div>