<html>
  <head>
    <title>Error - Access denied</title>
  </head>
  <body>
    <h1>You do not have sufficient permissions to access this site.</h1>
    <p>{{message}}</p>
    <a href="/api/products">Home</a>
  </body>
</html>