<html>
  <head>
    <title>Error - Access denied</title>
  </head>
  <body>
    <h1>You must be the product creator or have admin privileges to remove this product.</h1>
    <p>{{message}}</p>
    <a href="/api/products">Home</a>
  </body>
</html>