<div>
  <a href="/api/products">Home</a>
  <h1>An error occurred.</h1>
  <h2>This is because you are trying to add your own product to the cart or you
    are an admin user.</h2>
  <img
    src="https://static.vecteezy.com/system/resources/previews/006/549/647/original/404-landing-page-free-vector.jpg"
    alt="404"
    width="100%"
  />
</div>