<html>
<head>
  <title>Error - No hay stock disponible</title>
</head>
<body>
  <h1>Error - No hay stock disponible</h1>
  <p>{{message}}</p>
  <a href="/api/carts">Volver al carrito</a>
</body>
</html>
