<html>
  <head>
    <title>Error - Access denied</title>
  </head>
  <body>
    <h1>You do not have sufficient permissions to update this product.</h1>
    <p>{{message}}</p>
    <a href="/api/products/manager">Manager</a>
  </body>
</html>